:root {

  --primary: #BB86FC;
  --primary-variant: #3700B3;
  --secondary: #03DAC6;

  --background: #121212;
  --white: #ffffff;
  --error: #CF6679;
}


body {
  background-color: #121212;
  color: white;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}








.add-button {
  width: 60px;
  height: 60px;
  background-color: var(--secondary);
  border-radius: 50%;
  border: none;
  position: fixed;
  cursor: pointer;
  bottom: 20px;
  right: 20px;
  z-index: 9;
}

.add-button::before {
  content: "+";
  font-size: 28px;
  color: var(--background);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



/* CSS */
.swiper-container {
  width: 100%;
  height: 100vh; /* vh stands for viewport height */
}

.swiper-slide {
  width: 100% ;
  height: 100vh !important; /* Adjust based on your layout needs */
}
